.headerBand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 80px;
    padding-block: 50px;
}

.headerBand figure {
    margin: 0;
}

.headerBand figure p {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    color: $secondary-color;
}