.nav-header {
    display: flex;
    justify-content: space-around;
    gap: 20px;

    &_link {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 15px;
    }
}