.Works_container {
    padding: 80px 30px 80px 30px;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 707px) {
        background-color: #efefef;
        padding: 80px 0px 0px 0px;
    }

    & p {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;

        @media screen and (max-width: 707px) {
            padding: 0px 10px;

        }
    }
}

.cardPortfolio {
    &_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 60px 0px;

        @media screen and (max-width: 707px) {
            padding: 40px 0px 0px 0px;
        }
    }

    &_article {
        width: 33.33%;
        padding: 0.75rem;

        @media screen and (max-width: 769px) {
            width: 50%;
        }

        @media screen and (max-width: 707px) {
            width: 100%;
            padding: 0.75rem 0;
        }
    }
}


.cardPortfolio_figure {
    margin: 0;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.cardPortfolio_figure img {
    width: 100%;
    height: auto;
}

.cardPortfolio_figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cardPortfolio_figure:hover figcaption {
    opacity: 1;
}

.cardPortfolio_figure h3 {
    margin-bottom: 10px;
    font-weight: 400;

    @media screen and (max-width: 769px) {
        font-size: 20px;
        ;
    }
}

.button-55 {
    align-self: center;
    background-color: #000000;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-color: white;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(255, 255, 255, 0.7) 15px 20px 25px -10px;
    box-sizing: border-box;
    color: #fcfcfc;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: 7px 30px;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}