@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 32px;
}

.headerBand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 50px;
  padding-block: 30px;
}

.headerBand figure {
  margin: 0;
}

.headerBand figure p {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  color: #2105f7;
}

.nav-header {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.nav-header_link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 15px;
}