@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

h1 {
  font-size: 45px;
  font-weight: 800;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

.headerBand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 80px;
  padding-block: 50px;
}

.headerBand figure {
  margin: 0;
}

.headerBand figure p {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  color: #2105f7;
}

.nav-header {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.nav-header_link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 15px;
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 50px;
  padding-bottom: 0px;
}

.banner-container span {
  font-size: 24px;
  font-weight: 300;
}

.banner-container figure {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  width: 800px;
  margin-bottom: -5px;
}

.about-container {
  background-color: #2105f7;
  padding: 100px 300px;
  padding-bottom: 250px;
  text-align: center;
}
.about-container h2 {
  color: white;
}
.about-container p {
  color: white;
  line-height: 1.5;
  font-size: 20px;
}